.logo {
  background: url("/plasmic/free_fire_simulator/images/logo.png") 0px -9px / 81px 81px no-repeat;
  width: 82px;
  height: 64px;
  display: block;
  position: relative;
}
@media (min-width: 600px) {
  .logo {
    background: url("/plasmic/free_fire_simulator/images/logo.png") 0px -9px / cover no-repeat;
  }
}
