.profileModal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 95%;
  justify-self: baseline;
  min-width: 375px;
  background: linear-gradient(0deg, #1e1e1e 0%, #1e1e1e 95%, #666666 100%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
  position: relative;
  padding: 4px 16px 16px;
}
.profileModal > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.profileModal > :global(.__wab_flex-container) > *,
.profileModal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.profileModal > :global(.__wab_flex-container) > picture > img,
.profileModal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 600px) {
  .profileModal {
    height: auto;
    width: 100%;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 600px;
    max-width: auto;
    border-radius: 16px;
  }
}
@media (min-width: 600px) {
  .profileModal > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 600px) {
  .profileModal > :global(.__wab_flex-container) > *,
  .profileModal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .profileModal > :global(.__wab_flex-container) > picture > img,
  .profileModal
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.profileHeader {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 450px;
  top: auto;
  left: auto;
  min-height: 32px;
  min-width: 0;
  padding: 12px;
}
@media (min-width: 600px) {
  .profileHeader {
    left: auto;
    top: auto;
    max-width: 600px;
  }
}
.closeModal2 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  transform: translate(-0.5px, 0.4990000000000001px);
  width: 21px;
  height: 21px;
  display: block;
  flex-shrink: 0;
}
@media (min-width: 600px) {
  .closeModal2 {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }
}
.text__tdDw {
  display: block;
  font-size: 24px;
  font-family: "Built Titling";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1;
  color: var(--token-PRoJeWs3wPpx);
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
@media (min-width: 600px) {
  .text__tdDw {
    color: #ffffff;
    font-size: 32px;
  }
}
.closeModal {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  transform: translate(-0.5px, 0.4990000000000001px);
  width: 21px;
  height: 21px;
  display: block;
  flex-shrink: 0;
}
@media (min-width: 600px) {
  .closeModal {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }
}
.freeBox__grVjk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 420px;
  min-height: 520px;
  background: #2e2e2e;
  overflow: hidden;
  min-width: 340px;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__grVjk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__grVjk > :global(.__wab_flex-container) > *,
.freeBox__grVjk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__grVjk > :global(.__wab_flex-container) > picture > img,
.freeBox__grVjk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 600px) {
  .freeBox__grVjk {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 580px;
    max-width: auto;
    min-height: 550px;
  }
}
@media (min-width: 600px) {
  .freeBox__grVjk > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: calc(0px - 12px);
    width: calc(100% + 12px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 600px) {
  .freeBox__grVjk > :global(.__wab_flex-container) > *,
  .freeBox__grVjk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__grVjk > :global(.__wab_flex-container) > picture > img,
  .freeBox__grVjk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 12px;
    margin-top: 0px;
  }
}
.freeBox__kec6A {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 600px) {
  .freeBox__kec6A {
    height: 100%;
    min-height: 525px;
    align-items: center;
    justify-content: space-between;
  }
}
.freeBox__zx5Qt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  min-height: 450px;
  min-width: 0;
  padding: 8px;
}
.currencySelection:global(.__wab_instance) {
  max-width: 100%;
}
.channelSelection:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___7F98J {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  margin-bottom: 12px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 600px) {
  .freeBox___7F98J {
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
  }
}
.nextButton:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
  z-index: 1;
}
@media (min-width: 600px) {
  .nextButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__nMLjE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rOabw {
  padding-bottom: 0px;
  font-size: 12px;
}
@media (min-width: 600px) {
  .text__rOabw {
    font-size: 16px;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: #000000;
}
