.senarioArea {
  width: 100%;
  height: 160px;
  display: block;
  position: relative;
  min-width: 0;
}
@media (min-width: 600px) {
  .senarioArea {
    height: 270px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__pq094 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  bottom: 20%;
  left: 0px;
  top: 20%;
  position: absolute;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 600px) {
  .freeBox__pq094 {
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0px;
    top: 20%;
    position: absolute;
  }
}
.infoPanel {
  width: 100%;
  height: 80px;
  display: block;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 600px) {
  .infoPanel {
    height: 120px;
    flex-shrink: 0;
  }
}
.rectangle4156 {
  background: rgba(45, 45, 45, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 36px;
}
@media (min-width: 600px) {
  .rectangle4156 {
    border-radius: 48px;
  }
}
.freeBox__jf66M {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  height: 100%;
  max-width: 100%;
  top: 0px;
  z-index: 1;
  right: 0px;
  padding: 8px 24px 8px 8px;
}
.freeBox__jf66M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jf66M > :global(.__wab_flex-container) > *,
.freeBox__jf66M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jf66M > :global(.__wab_flex-container) > picture > img,
.freeBox__jf66M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 600px) {
  .freeBox__jf66M {
    padding-right: 36px;
  }
}
.text__reFf6 {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Aldo the Apache";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(212, 212, 212, 1);
  width: 72px;
  height: 15%;
  transform: translate(0.45599999999998886px, -0.23900000000000432px);
}
@media (min-width: 600px) {
  .text__reFf6 {
    font-size: 24px;
    width: auto;
    line-height: 1;
    height: auto;
  }
}
.text__kvK6N {
  display: block;
  font-size: 10px;
  text-align: right;
  font-family: "Aldo the Apache";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(212, 212, 212, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 72px;
  height: 15%;
  transform: translate(-0.3650000000000091px, -0.14300000000000068px);
}
@media (min-width: 600px) {
  .text__kvK6N {
    font-size: 20px;
    line-height: 1;
    width: auto;
    height: auto;
  }
}
.freeBox__sloB0 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  height: 100%;
  max-width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 8px 8px 8px 24px;
}
.freeBox__sloB0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sloB0 > :global(.__wab_flex-container) > *,
.freeBox__sloB0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sloB0 > :global(.__wab_flex-container) > picture > img,
.freeBox__sloB0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 600px) {
  .freeBox__sloB0 {
    padding-left: 36px;
  }
}
.text__dmL2I {
  display: block;
  font-size: 12px;
  text-align: left;
  font-family: "Aldo the Apache";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(212, 212, 212, 1);
  width: 72px;
  height: 15%;
  transform: translate(-0.26200000000000045px, -0.23900000000000432px);
}
@media (min-width: 600px) {
  .text__dmL2I {
    line-height: 1;
    font-size: 24px;
    width: auto;
    height: auto;
  }
}
.text___15B0Y {
  display: block;
  font-size: 10px;
  text-align: left;
  font-family: "Aldo the Apache";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(212, 212, 212, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 72px;
  height: 15%;
  transform: translate(-0.17300000000000182px, -0.14300000000000068px);
}
@media (min-width: 600px) {
  .text___15B0Y {
    line-height: 1;
    font-size: 20px;
    width: auto;
    height: auto;
  }
}
.freeBox__dYxRp {
  display: flex;
  position: sticky;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: 10px;
  left: 94px;
  z-index: 1;
  min-height: 150px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 600px) {
  .freeBox__dYxRp {
    justify-content: center;
    align-items: center;
    position: sticky;
    left: 0px;
    top: 0px;
    min-height: 225px;
  }
}
.scenarioPic {
  background: url("/plasmic/free_fire_simulator/images/scenarioPic.png") left 10% top 10% / contain no-repeat;
  width: 25%;
  height: 100%;
  display: block;
  align-self: flex-end;
  min-width: 160px;
  min-height: 150px;
  max-width: 250px;
  max-height: 250px;
}
@media (min-width: 600px) {
  .scenarioPic {
    width: 25%;
    height: 100%;
    left: auto;
    top: auto;
    position: relative;
    align-self: flex-end;
    min-width: 240px;
    max-width: 375px;
    min-height: 225px;
    max-height: 375px;
    background: url("/plasmic/free_fire_simulator/images/scenarioPic.png") left 10% top 10% / contain no-repeat;
  }
}
.scenarioPicdifferentPics_airdrop {
  background: url("/plasmic/free_fire_simulator/images/scenarioPic.png") left 10% top 10% / contain no-repeat;
}
@media (min-width: 600px) {
  .scenarioPicdifferentPics_airdrop {
    background: url("/plasmic/free_fire_simulator/images/scenarioPic.png") left 45% top 45% / contain no-repeat;
  }
}
.scenarioPicdifferentPics_vehicle {
  background: url("/plasmic/free_fire_simulator/images/pngtreeMonsterTruckVehicleOrCar15408940Png.png") left 10% top 35% / contain no-repeat;
}
@media (min-width: 600px) {
  .scenarioPicdifferentPics_vehicle {
    background: url("/plasmic/free_fire_simulator/images/pngtreeMonsterTruckVehicleOrCar15408940Png.png") left 45% top 35% / contain no-repeat;
  }
}
.scenarioPicdifferentPics_firstAid {
  background: url("/plasmic/free_fire_simulator/images/pngtreeHandPaintedCommercialGameEatChicken40297882.png") left 45% top 45% / 80% 50% no-repeat;
  align-self: center;
  flex-grow: 0;
  padding: 0%;
}
@media (min-width: 600px) {
  .scenarioPicdifferentPics_firstAid {
    background: url("/plasmic/free_fire_simulator/images/pngtreeHandPaintedCommercialGameEatChicken40297882.png") left 45% top 45% / 80% 50% no-repeat;
  }
}
