.root {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  position: relative;
  min-width: 0;
  border-radius: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (min-width: 600px) {
  .root {
    flex-grow: 0;
    height: auto;
  }
}
.freeBox__tLwU9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 0px 10px 10px 0px #00000026;
  border-radius: 16px;
}
@media (min-width: 600px) {
  .freeBox__tLwU9 {
    height: auto;
  }
}
.freeBox__k13Fe {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__k13Fe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__k13Fe > :global(.__wab_flex-container) > *,
.freeBox__k13Fe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k13Fe > :global(.__wab_flex-container) > picture > img,
.freeBox__k13Fe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 600px) {
  .freeBox__k13Fe {
    height: auto;
    background: #ffb900;
  }
}
.freeBox__ztcvy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 600px) {
  .freeBox__ztcvy {
    justify-content: space-around;
    height: auto;
    min-height: 150px;
  }
}
.text__cYCb {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  min-width: 0;
}
.h4__gybDg {
  text-align: left;
}
.text___6OEx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-size: 18px;
  min-width: 0;
}
.h4__oz7Tn {
  text-align: left;
}
.text__c7D52 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  min-width: 0;
}
.h4__mfLGu {
  text-align: left;
}
.freeBox__pBwqD {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pBwqD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pBwqD > :global(.__wab_flex-container) > *,
.freeBox__pBwqD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pBwqD > :global(.__wab_flex-container) > picture > img,
.freeBox__pBwqD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 600px) {
  .freeBox__pBwqD > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
  }
}
.divider__qhy2L:global(.__wab_instance) {
  max-width: 100%;
}
.text__xkGs3 {
  width: 100%;
  text-align: center;
  max-width: 90px;
  min-width: 0;
}
@media (min-width: 600px) {
  .text__xkGs3 {
    color: #000000;
    font-weight: 600;
  }
}
.divider__bMr8Y:global(.__wab_instance) {
  max-width: 100%;
}
.authButton:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 600px) {
  .authButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__gHti8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 600px) {
  .text__x0LB {
    font-size: 20px;
  }
}
.svg___03V3Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.divider__lzKs5:global(.__wab_instance) {
  position: relative;
}
.freeBox__pktfI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-yrP9qyiP8XfO);
  padding: 32px;
}
@media (min-width: 600px) {
  .freeBox__pktfI {
    height: auto;
    background: #000000;
  }
}
.text__c3Ow {
  position: relative;
  color: var(--token-bFnMVGpSsIqh);
}
@media (min-width: 600px) {
  .text__c3Ow {
    background: linear-gradient(#000000, #000000), #ffffff;
    color: #ffb900;
  }
}
